* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.profile-picture {
  height: 2px;
}

.main-picture {
  padding: 10%;
  margin-left: 5%;
  width: 90%;
}

.picture {
  width: 35vw;
}

.columns.is-gapless:last-child {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
