* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: block;      
} 

.header {
    display: flex;  
    width: 100vw;
    justify-content: space-between;  
    font-family: fantasy;
    background-image: linear-gradient(#1F2833, #0B0C10);
    color: white;
}

img {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 200px;
    height: 200px;
    border: transparent;
    border-radius: 100px;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header nav {
    padding: 20px;
    margin-right: 20px;
    float: right;
    font-family: fantasy;
    font-size: medium;
}

.header nav ul li {
    display: inline-block;
    margin-left: 20px;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

h4 p {
    display: block;
    border-style: solid;
    color: white;
    padding: 20px;
}

.left {
    margin-left: 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: right;
    clear: both;
    float: left;
    width: 20vw;
    height: 203vh;
    font-family: fantasy;
    font-size: 20pt;
    text-decoration-color: white;
    background-color: #0B0C10;
}
    
.about-me, .about-me h2 {
    position: relative;
    color: white;
    display: flex;
    top: -200px;    
    justify-content: right;
}

.my-work, .mywork h2 {
    position: relative;
    color: white;
    display: flex;
    top: -650px;    
    justify-content: right;
}

.main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* --------------------------------------------------- */
/* About me */

.aboutMe {
    display: flex;
    flex-direction: row;
    width: 175vh;
    height: 200px;
    font-size: 15pt;
    word-spacing: 2pt;
    background-image: linear-gradient(#0B0C10, #C5C6C7);
    color: white;
}

/* --------------------------------------------------- */
/* Work */

.work {
    height: 33%;
    width: 100%; 
}

/* --------------------------------------------------- */
/* Projects section */

.projectContainer{
    width: 80vw;
    margin-bottom: -39px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33%;
    justify-content: center;
    background-image: linear-gradient(#C5C6C7, #0B0C10);
}


.projectOne{
    margin-top: 10px;
    margin-left: 30px;
    min-height: 500px;
    flex-basis: 1000px;
    border-radius: 5px;
    box-shadow: 10px 0 5px 5px black;
}

.projects{
    margin-top: 30px;
    margin-left: 30px;
    min-height: 250px;
    flex-basis: 475px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 0 5px 5px black;
}

.jobFinder{
    background-image: url('./images/Main\ Screenshot.png');
    background-size: cover;
    background-position: center;

}

.html {
    background-image: url('./images/Screenshot\ 2021-10-31\ 161617.png');
    background-size: cover;
    background-position: center;

}

.css {
    background-image: url('./images/CSS.jpg');
    background-size: cover;
    background-position: center;
}

.javascript {
    background-image: url('./images/javascript.jpg');
    background-size: cover;
    background-position: center;
}

.webApi {
    background-image: url('./images/Web-APIs-graphic.jpg');
    background-size: cover;
    background-position: center;
}

a:hover {
 transform: scale(1.1);
}

/* --------------------------------------------------------------- */
/* Footer */

.footer {
    display: flex;  
    width: 100vw;
    justify-content: space-between;  
    font-family: fantasy;
    background-image: linear-gradient(#0B0C10, #1F2833);
    color: white;
    margin-top: -20px;
    padding: 70px;
}

.footer h2 {
    display: inline-block;
    font-size: 30pt;
}

footer ul li {
    display: inline-block;
    padding: 20px;
    margin-left: 250px;
    margin-top: -40px;
}

.contactMe {
    height: 33%;
    width: 100%;
}

@media screen and (max-width:fullscreen) {
    .header, .left, .projectContainer, .footer {
    height: 100%;
    }
}

@media screen and (min-width:horizontal) {
    .header, .left, .projectContainer, .footer {
    width: 100vh;
    }
}

